<div class ="container">
  <div class="row">
    <div class="col-sm-6"><h1>Pendientes</h1>
      <% @todo_false.each  do |todo| %>
        <div class ="well">
          <%= todo.description %>
          <%= todo.completed %>
        </div>
      <% end %>
    </div>
      
    <div class="col-sm-6"><h1>Completados</h1>
      <% @todo_true.each do |todo| %>
        <div class ="well">
          <%= todo.description %>
          <%= todo.completed %>
      </div>
      <% end %>
    </div>
  </div>
</div>